*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: 0 none;
  appearance: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: color .1s ease-in-out, background-color .1s ease-in-out;
}

html {
  font-size: 100%;
}

html,
body {
  height: 100%;
}